
<div class="text-center">
  <h1><%= @article.title %></h1>
  <div>
    <p><%= @article.body %></p>
  </div>
  

  <div>
    <button class="btn btn-primary">
      <%= link_to "Edit", edit_article_path(@article), :class => "link" %>
    </button>
    |
    <button class="btn btn-primary">
      <%= link_to "Delete", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" },
      :class => "link" %>
    </button>
  </div>

</div>



